.hero-image {
  height: 100%;
  background-image: url("mall-illustration.png");
  background-size: cover;
  position: relative;
}


.clip-svg {
  clip-path: url('#myClip');
}


.clip-circle {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
/*clip-path: circle(150px at 750px 100px);*/
  clip-path: url('#myClip');
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.clip-inverted {
  fill: #ddd;
  fill-rule: evenodd;
  opacity: 0.8;
    position: absolute;
  width: 100%;
  /*height: 100%;*/
  top: 0;
  left: 0;
}